<h3>Edit Profile</h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div>
    <%= f.label :password %>
    <span class="hint">Leave these fields blank if you don't want to change your password.</span>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div>
    <%= f.label :current_password %>
    <span class="hint">We need your current password to confirm your changes.</span>
    <%= f.password_field :current_password %>
  </div>

  <div class="actions two">
    <%= f.submit "Update", :class => "btn btn-primary btn-large" %>
    <%= link_to "Cancel", locations_path, :class => "btn btn-classy btn-large" %>
  </div>
<% end %>
