<h3>Forgot your password?</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <footer class="two">
    <%= f.submit "Recover", :class => "btn btn-primary btn-large" %>
    <%= link_to "Sign in", new_session_path(resource_name), :class => "btn btn-classy btn-large" %>
  </footer>
<% end %>
