<h3>Sign in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="cf">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot password?", new_password_path(resource_name), :class => "forgot-password" %>
    <% end -%>
    <div class="cf remember-me"><label class="form-horizontal cf"><%= f.check_box :remember_me %> Remember Me</label></div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
