<div class="enable-items-js item-form">
  <%= form_for [location, item] do |f|%>

    <% if !item.errors.blank? %>
      <div class ="alert">
        <%= error_messages_for item %>
      </div>
    <% end %>

    <%= f.hidden_field :current_location_id, :value => location.id %>

    <% if f.object.new_record? %> 
      <%= f.label :item_type_definition_id, "Kind: " %>
      <%= f.select(:item_type_definition_id, ItemTypeDefinition.options) %>
    <% else %>
      <%= f.hidden_field(:item_type_definition_id) %>
    <% end %>

    <div class="info">
      <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div>
        <%= f.label :quantity, "Quantity:" %>
        <%= f.number_field :quantity %>
      </div>

      <div id="data-fields" data-additional-fields="<%= ItemFieldDefinition.definition_json %>">
      </div>

      <div id="data-field-values" data-field-values="<%= @item.item_field_values.to_json %>">
      </div>

      <div id="data-item-id" data-item-id="<%= @item.id %>">
      </div>

      <script id="fields-template" type="text/x-handlebars-template">
        {{#each fields}}
          <label for="item[item_field_values][]">{{name}}</label>
          <input type="{{kind}}" name="item[item_field_values_attributes][{{index}}][value]" id="item_item_field_values_" value="{{value}}"/>
          <input type="hidden" name="item[item_field_values_attributes][{{index}}][item_field_definition_id]" value="{{id}}"/>
        {{/each}}
      </script>

      <div id="additional_fields">
      </div>

    </div>

    <footer class="two">
      <% if item.new_record? %>
        <%= f.submit "Create", :class => "btn btn-primary btn-large" %>
        <%= link_to "Cancel", location, :class => "btn btn-classy btn-large" %>  
      <% else %>
        <%= f.submit "Update", :class => "btn btn-primary btn-large" %>
        <%= link_to "Cancel", [location, item], :class => "btn btn-classy btn-large" %>
      <% end %>
    </footer>
  <% end %>
</div>
