<% if @errors.any? %>
  <div class="errors alert alert-error">
    <% @errors.each do |item, error| %>
        <div class="error"><%= error %></div>
    <% end %>
  </div>
<% end %>


<% item = @items.first %>


<h2>From : </h2>
Owner : <%= item.home_location.name %><br />
Current Location : <%= item.current_location.name %><br />
Container : <%= item.container.name if item.container %><br />


<h2>To : </h2>
<label>Location</label>
<%= select_tag "item[location_id]", options_from_collection_for_select(Location.all, :id, :name), :id=>"giving-lending-location" %>

<label>Container</label>
<% Location.all.each do |location| %>
    <%= select_tag "item[container_id]", "<option></option>".html_safe + options_from_collection_for_select( location.items.containers, :id, :name), :class=>"container-select", :id => "container-#{location.id}"  %>
<% end %>

<hr />


<div class="item">
    <%= hidden_field_tag "item_ids[]", item.id %>
    <%= image_tag (item.picture_url(:thumbnail), :alt => item.name) if item.picture.present? %>
    <%= link_to item.name, [@location, item] %>
    <%= item.item_type_definition.name %>
    <%= item.quantity %>
    <%= item.container.name if item.container %>

    <%= text_field_tag "quantities[]", item.quantity, :type => "number" %>
</div>
