<p id="notice"><%= notice %></p>

<h1><%= @item.name %></h1>

<%= (image_tag @item.picture_url(:thumbnail), :alt => @item.name) if @item.picture.present? %>

<div class="address">
  <%= @item.quantity %> x <%= @item.item_type_definition.name %>

  <% if @item.container %>
    <br/>Container: <%= @item.container.name %>
  <% end %>

  <br/>Home Location: <%= @item.home_location.name if @item.home_location %>
  <% unless @item.at_home? %>
    <br/>Current Location: <%= @item.current_location.name %>
  <% end %>
</div>

<footer class="three">
  <%= link_to "Give", location_item_give_path(@location, @item), :class => "btn btn-large btn-primary" %>
  <%= link_to "Lend", location_item_lend_path(@location, @item), :class => "btn btn-large btn-primary" %>
  <%= link_to 'Edit', edit_location_item_path(@location, @item), :class => "btn btn-large btn-primary" %>
</footer>