<p id="notice"><%= notice %></p>

<h1><%= @item.name %></h1>

<%= link_to "Move", move_location_items_path(@location, :item_ids => [@item.id]) %>
<%= link_to "Lend", lend_location_items_path(@location, :item_ids => [@item.id]) %>
<%= link_to 'Edit', edit_location_item_path(@location, @item) %>

<%= image_tag @item.picture_url(:thumbnail), :alt => @item.name %>

<% binding.pry %>
<div class="address">
  <%= @item.item_type_definition.name %>
  <%= @item.quantity %>

  <% if @item.container %>
    <%= @item.container.name %>
  <% end %>

  <% if @item.home_location %>
    <%= @item.home_location.name %>
  <% end %>

  <%= @item.current_location.name unless @item.at_home? %>
</div>

<h2>History</h2>

TODO
