<h2><%= link_to @chapter.name, @chapter %></h2>
<% @chapter.locations.each do |location| %>
  <%= link_to location, :class => "location #{cycle :even, :odd}" do %>
    <%= (image_tag location.picture_url(:thumbnail), :alt => location.name) if location.picture.present? %>

    <div class="name"><%= location.name %></div>
    <div class="chapter"><%= location.chapter.name %> Chapter</div>

    <div class="address">
      <div class="city-sate-zip"><%= location.city %>, <%= location.state.name %> <%= location.zip %></div>
    </div>

    <% if location.contact? %>
      <div class="contact">
        <%= location.contact_name %> <%= number_to_phone location.contact_phone %>
      </div>
    <% end %>
  <% end %>
<% end %>