<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.number_field :address %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.collection_select :state_id, State.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br />
    <%= f.phone_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :national_shelter_system_identifier %><br />
    <%= f.text_field :national_shelter_system_identifier %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br />
    <%= f.collection_select :chapter_id, Chapter.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= image_tag(@location.picture_url(:thumbnail), :alt => @location.name) if @location.picture? %>
    <%= f.hidden_field :picture_cache %>
    <%= f.file_field :picture %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
