<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address2 %>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id %>
    <%= f.collection_select :state_id, State.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :zip %>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.phone_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label :national_shelter_system_identifier %>
    <%= f.text_field :national_shelter_system_identifier %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %>
    <%= f.collection_select :chapter_id, Chapter.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= image_tag(@location.picture_url(:thumbnail), :alt => @location.name) if @location.picture.present? %>
    <%= f.hidden_field :picture_cache %>
    <%= f.file_field :picture %>
  </div>

  <div>
    <%= f.submit :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
