<h3>Choose a location</h3>
<div class="actions">
  <%= link_to 'Add Location', new_location_path, :class => "btn btn-large btn-primary" %>
</div>

<% @locations.each do |location| %>
  <%= link_to location, :class => "location cf #{cycle :even, :odd}", :data => { :lat => location.latitude, :lng => location.longitude } do %>
    <%= (image_tag location.picture_url(:thumbnail), :alt => location.name) if location.picture.present? %>
    <div class="location-details cf">
    	<div class="location-name"><%= location.name %></div>
    	<div class="location-chapter"><%= location.chapter.name %> Chapter</div>

    	<div class="address">
    	  <div class="street"><%= location.address %></div>
    	  <div class="street2"><%= location.address2 %></div>
    	  <div class="city-sate-zip"><%= location.city %>, <%= location.state.name %> <%= location.zip %></div>
    	</div>
    </div>

    <% if location.contact? %>
      <div class="contact">
        <%= location.contact_name %> <%= number_to_phone location.contact_phone %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="map"></div>
