<p id="notice"><%= notice %></p>

<h1><%= @location.name %></h1>

<%= link_to 'Edit', edit_location_path(@location) %>
<%= link_to "Add New Item", new_location_item_path(@location) %>

<%= image_tag @location.picture_url(:thumbnail), :alt => @location.name %>

<div class="address">
  <%= @location.address %>
  <%= @location.address2 %>
  <%= @location.city %>, <%= @location.state.name %> <%= @location.zip %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>

<div class="contact">
  <%= @location.contact_name %>
  <%= number_to_phone @location.contact_phone %>
</div>

<p>
  <b>National shelter system identifier:</b>
  <%= @location.national_shelter_system_identifier %>
</p>

<p>
  <b>Chapter:</b>
  <%= @location.chapter.name %>
</p>

<%= link_to "Move", move_location_items_path(@location) %>
<%= link_to "Lend", lend_location_items_path(@location) %>

<h2>Items</h2>
<%= link_to "Add", "#" %>

<div class="items">
  <% @location.items.individuals.each do |item| %>
    <div class="item">
      <%= image_tag item.picture_url(:thumbnail), :alt => item.name %>
      <%= link_to item.name, [@location, item] %>
      <%= item.item_type_definition.name %>
      <%= item.quantity %>
      <%= item.container.name if item.container %>
      <%= item.home_location.name unless item.at_home? %>
      <%= check_box_tag :check %>
    </div>
  <% end %>
</div>

<h2>Vehicles</h2>
<%= link_to "Add", "#" %>

<div class="containers">
  <% @location.items.containers.each do |container| %>
    <div class="item">
      <%= image_tag container.picture_url(:thumbnail), :alt => container.name %>
      <%= link_to container.name, [@location, container] %>
      <%= container.item_type_definition.name %>
      <%= container.quantity %>
      <%= container.container.name if container.container %>
      <%= container.home_location.name unless container.at_home? %>
      <%= check_box_tag :check %>
    </div>
  <% end %>
</div>
