<p id="notice"><%= notice %></p>

<div class="location cf" data-lat="<%= @location.latitude %>" data-lng="<%= @location.longitude %>">
  <div class="location-title cf">
  	<h4><%= @location.name %></h4>
  	<a href="#" class="info" rel="popover" data-placement="bottom" data-title="<%= @location.name %>">info</a>
  </div>

  <%= link_to 'Edit', edit_location_path(@location), :class => "btn btn-small btn-primary"%>

  <div class="details">
  	<%= (image_tag @location.picture_url(:thumbnail), :alt => @location.name) if @location.picture.present? %>
    <div class="address">
      <%= @location.address %>
      <%= @location.address2 %>
      <%= @location.city %>, <%= @location.state.name %> <%= @location.zip %>
      <div class="map"></div>
    </div>

    <div class="contact">
      <%= @location.contact_name %>
      <%= number_to_phone @location.contact_phone %>
    </div>

    <p>
      <b>National shelter system identifier:</b>
      <%= @location.national_shelter_system_identifier %>
    </p>

    <p>
      <b>Chapter:</b>
      <%= @location.chapter.name %>
    </p>
  </div>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="#">Items</a></li>
      <li><a href="#">Vehicles & Trailers</a></li>
      <li><a href="#">People</a></li>
    </ul>
  </div>
</div>

<%#= link_to "Move", move_location_items_path(@location) %>
<%#= link_to "Lend", lend_location_items_path(@location) %>

<div class="category">
	<span class="category-name">Items</span>
</div>

<div class="items cf">
  <% if @location.items.individuals.each do |item| %>
    <div class="item cf ">
      <%= check_box_tag :check %>
      <%= (image_tag item.picture_url(:thumbnail), :alt => item.name ) if item.picture.present? %>
      <div class="item-details cf">
        <%= link_to item.name, [@location, item], :class => "item-name"%>
        <%#= item.item_type_definition.name %>
      	<span class="item-quantity">Quantity: <%= item.quantity %></span>
      	<span class="item-container">Container: <%= item.container.name if item.container %></span>
      	<%#= item.home_location.name unless item.at_home? %>
      </div>
    </div>
  <% end.empty? %>
    <div class="sorry">
      There are no items at this location
    </div>
  <% end %>
</div>

<div class="category">
	<span class="category-name">Vehicles & Trailers</span>
</div>

<div class="containers cf">
  <% if @location.items.containers.each do |container| %>
    <div class="item cf">
      <%= check_box_tag :check %>
      <%= image_tag container.picture_url(:thumbnail), :alt => container.name %>
      <div class="item-details cf">
      <%= link_to container.name, [@location, container], :class => "item-name" %>
      <%= container.item_type_definition.name %>
      <span class="item-quantity">Quantity:<%= container.quantity %></span>
      <span class="item-container"><%= container.container.name if container.container %></span>
      <%= (container.home_location.name unless container.at_home?) if container.home_location %>
      </div>
    </div>
  <% end.empty? %>
    <div class="sorry">
      There are no items at this location
    </div>
  <% end %>
</div>

<footer class="two">
  <%= link_to 'Edit Selected', edit_location_path(@location), :class => "btn btn-large btn-primary"%>
  <%= link_to "Add Item", new_location_item_path(@location), :class => "btn btn-large btn-primary"%>
</footer>
