<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_location_path(@location) %>

<%= link_to 'Edit', @location %>
<%= link_to "Add New Item", new_location_item_path(@location) %>

<%= image_tag(@location.picture_url(:thumbnail), :alt => @location.name) %>

<%= image_tag @location.picture_url(:thumbnail), :alt => @location.name %>
<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
<p>
  <b>Address:</b>
<div class="address">
  <%= @location.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @location.address2 %>
  <%= @location.city %>, <%= @location.state.name %> <%= @location.zip %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</div>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state.name %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>

<p>
  <b>Contact name:</b>
<div class="contact">
  <%= @location.contact_name %>
</p>

<p>
  <b>Contact phone:</b>
  <%= number_to_phone @location.contact_phone %>
</p>
</div>

<p>
  <b>National shelter system identifier:</b>
  <%= @location.national_shelter_system_identifier %>
</p>

<p>
  <b>Chapter:</b>
  <%= @location.chapter.name %>
</p>

<h2>Items</h2>
<%= link_to "Add", "#" %>
<%= link_to "Move", "#" %>
<%= link_to "Lend", "#" %>

<div class="items">
  <% @location.individual_items.each do |item| %>
    <div class="item">
      <%= image_tag item.picture_url(:thumbnail), :alt => item.name %>
      <%= link_to item.name, item %>
      <%= item.item_type_definition.name %>
      <%= item.quantity %>
      <%= item.container.name if item.container %>
      <%= item.home_location.name unless item.at_home? %>
      <%= check_box_tag :check %>
    </div>
  <% end %>
</div>

<h2>Vehicles</h2>
<%= link_to "Add", "#" %>
<%= link_to "Move", "#" %>
<%= link_to "Lend", "#" %>

<div class="containers">
  <% @location.containers.each do |container| %>
    <div class="item">
      <%= image_tag container.picture_url(:thumbnail), :alt => container.name %>
      <%= link_to container.name, container %>
      <%= container.item_type_definition.name %>
      <%= container.quantity %>
      <%= container.container.name if container.container %>
      <%= container.home_location.name unless container.at_home? %>
      <%= check_box_tag :check %>
    </div>
  <% end %>
</div>
