<!DOCTYPE html>
<html>
<head>
  <title>RedcrossTrackr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes" />  
  <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiAYsEi7meP_hcCD4SxOhlkaUGMGqIvKw&sensor=true"></script>
</head>
<body>

<div class="page">
  <header class="cf">
  	<div class="logo"></div>
    <h1 class="name">Trackr</h1>
    <% if current_user %>
      <ul class="nav cf">
        <% if can?(:access, :rails_admin) %>
          <li><%= link_to "Admin", rails_admin_path, :class => "admin" %></li>
        <% end %>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </header>
  
  <div class="main">
    <div class="content <%= controller_name %> <%= action_name %>">
      <% if flash[:notice] %>
        <div id="notice"><p><%= flash[:notice] %></p></div>
      <% end %>

      <% if flash[:alert] %>
        <div id="alert"><p><%= flash[:alert] %></p></div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <footer>
    <%= yield :footer %>
  </footer>
</div>

</body>
</html>
