<!DOCTYPE html>
<html>
<head>
  <title>RedcrossTrackr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= link_to "Locations", locations_path %>
  <% if can?(:access, :rails_admin) %>
    <%= link_to "Admin", rails_admin_path %>
  <% end %>
  <%= link_to "Profile", edit_user_registration_path %>
<% end %>

<%= yield %>

</body>
</html>
